@import url("//cdn.web-fonts.ge/fonts/bpg-ucnobi/css/bpg-ucnobi.min.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
  .footer p {
    margin-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  header {
    height: 200px;
  }
  nav {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin: 5px 0;
  }
  #menu-toggle:checked + label.menu-icon {
    background-color: #444;
  }
}
header {
  width: 100%;
  height: 80px;
  padding: 21px 0;
  background: white;
  position: fixed;
  top: 0;
  z-index: 1;
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
header .container .header {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .header ul {
  display: flex;
  justify-content: space-between;
}
header .container .header ul a {
  font-weight: 600;
  font-size: 18px;
  color: black;
}
header .container .header ul .h2 {
  font-family: "Great Vibes", cursive;
  color: rgb(161, 50, 50);
  font-size: 40px;
}

.h2 {
  font-family: "Great Vibes", cursive;
  color: rgb(161, 50, 50);
  font-size: 40px;
}

section {
  margin-top: 80px;
}

.section {
  width: 100%;
  margin-bottom: 84px;
}
.section .img {
  width: 100%;
  height: 606px;
  background-image: url(../images/picc1.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}
.section .img h3 {
  color: dimgrey;
  font-size: 60px;
  font-weight: 300;
}

.logo {
  font-size: 24px;
  flex: 1;
}

nav {
  display: none;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: block;
}
nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ nav {
  display: block;
}

@media screen and (max-width: 768px) {
  header {
    height: 200px;
  }
  nav {
    display: block;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav li {
    margin: 5px 0;
  }
  #menu-toggle:checked + label.menu-icon {
    background-color: #444;
  }
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  width: 634px;
  height: 951px;
}
.card-container .card-content {
  width: 260px;
  margin-bottom: 50px;
}
.card-container .card-content img {
  width: 100%;
  margin-bottom: 23px;
}
.card-container .card-content h3 {
  color: #343232;
  font-size: 19px;
  font-family: Helvetica;
  margin-bottom: 9px;
}
.card-container .card-content p {
  color: #636060;
  font-size: 18px;
  font-family: Helvetica;
  width: 100%;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.image-gallery .image-item {
  position: relative;
  flex: 1 0 250px;
}
.image-gallery .image-item .image-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  border-radius: 5px;
  transition: opacity 0.3s ease;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-item:hover .image-text {
  opacity: 1;
}

.sekcia {
  display: flex;
  justify-content: space-around;
}
.sekcia h1 {
  font-family: "Great Vibes", cursive;
  color: rgb(161, 50, 50);
  font-size: 40px;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.footer .footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer-content .footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.footer .footer-content .footer-links p {
  margin: 0;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.footer-links li {
  display: inline-block;
  margin: 0 10px;
}
.footer-links li a {
  color: #fff;
  text-decoration: none;
}
.footer-links li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
  .footer p {
    margin-right: 20px;
  }
}
.image-container {
  position: relative;
  display: flex;
}

.image-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .image-text {
  opacity: 1;
}

.teqsti {
  width: 600px;
  margin-left: 30px;
}

.image-container {
  position: relative;
  width: 430px;
  height: 180px;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-container .text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
.image-container .text-overlay h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.image-container .text-overlay p {
  font-size: 16px;
}
.image-container:hover .text-overlay {
  opacity: 1;
}

.imag-container {
  position: relative;
  width: 470px;
  height: -500px;
  overflow: hidden;
  margin-left: 100px;
  margin-top: -200px;
}
.imag-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.imag-container .text-overlayy {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
}
.imag-container .text-overlayy h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
.imag-container .text-overlayy p {
  font-size: 16px;
}
.imag-container:hover .text-overlayy {
  opacity: 1;
}/*# sourceMappingURL=global.css.map */