@import url("//cdn.web-fonts.ge/fonts/bpg-ucnobi/css/bpg-ucnobi.min.css");
@import url("//cdn.web-fonts.ge/fonts/alk-rounded-nusx-med/css/alk-rounded-nusx-med.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
header{
    width: 100%;
	height: 80px;
	padding: 21px 0;
	background: white;
	position: fixed;
	top: 0;
	z-index: 1;
	
	height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .header{
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            justify-content: space-between;
            
            a{
                font-weight: 600;
                font-size: 18px;
                color: black;
                }
            .h2 {
              font-family: 'Great Vibes', cursive;
              color: rgb(161, 50, 50);
              font-size: 40px;
            }
            }
        }
    }
}

.h2{
    font-family: 'Great Vibes', cursive;
    color: rgb(161, 50, 50);
    font-size: 40px;
}
section{
    margin-top: 90px;


}
.section{
    width: 100%;

    .img{
        width: 100%;
        height: 606px;
        background-image: url(../images/picc1.jpg);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-size: cover;
        background-repeat: no-repeat;

        h3{
          color: #FAD5A5;
          font-size: 60px;
          font-weight: 600;
          font-family: "BPG Irubaqidze", sans-serif;
        }
        p{

        }
    }
}


  
  .logo {
    font-size: 24px;
    flex: 1;
  }
  
  nav {
    display: none;
  
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    li {
      display: block;
    }
  
    a {
      color: #fff;
      text-decoration: none;
      padding: 10px;
      display: block;
    }
  }
  
  .menu-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  #menu-toggle {
    display: none;
  }
  
  
  #menu-toggle:checked ~ nav {
    display: block;
  }
  
  
  @media screen and (max-width: 768px) {
    header{
        height: 200px;
    }

    nav {
      display: block;
      

    }
  
    nav ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 5px 0;
    }
  
    #menu-toggle:checked + label.menu-icon {
      background-color: #444;
    }
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    width: 634px;
    height: 951px;
   
  
    .card-content {
      width: 200px;
      margin-bottom: 50px;
  
      img {
        width: 100%;
        margin-bottom: 23px;
      }
  
      h3 {
        color: #343232;
        font-size: 19px;
        font-family: Helvetica;
        margin-bottom: 9px;
      }
  
      p {
        color: #636060;
        font-size: 18px;
        font-family: Helvetica;
        width: 100%;
      }
    }
  }

 
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .image-item {
      position: relative;
      flex: 1 0 250px; 

      img{
        width: 100%;
        height: auto;
        border-radius: 5px;
      }

      .image-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        border-radius: 5px;
        transition: opacity 0.3s ease;
        font-weight: 600;

        a{
          color: #fff;
        }
      }

    }
  }
  
  
  .image-item:hover .image-text {
    opacity: 1;
    
  }
.sekcia{
  text-align: center;
  h1{
    font-weight: 600;
    
    
    color: rgb(161, 50, 50);
    font-size: 50px;
    font-family: "ALK Rounded Nusx Med", sans-serif;

  }
  p{
    font-family: 'Great Vibes', cursive;
    color: rgb(161, 50, 50);
    font-size: 40px;

  }
  
}





@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }

  .footer p {
    margin-right: 20px;
  }
}

.image-container {
  position: relative;
  display: flex;
  .image-text {
    width: 100%;
    height: 800px;
    display: flex;
    background-image: url(../images/davitgarejimain.jpg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
      font-size: 70px;
      font-weight: 600;
      color: #A4E0EB;
      font-family: "BPG Mikheil Stefane", sans-serif;

    }

}
}





.teqsti{
  width: 650px;
  margin-left: 30px;
  display: inline-block;
  float: left;
  h1{
    font-size: 40px;
    color: navy;
    font-family: "BPG Irubaqidze", sans-serif;
    margin-bottom: 10px;
  }
  p{
    color: #818589;
    font-family: "ALK Rounded Nusx Med", sans-serif;
    letter-spacing: 1px;
  }
}

.image-container {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
    }
  }

  &:hover .text-overlay {
    opacity: 1;
  }
}

.imgs{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  width: 50px;
  height: 50px;
  gap: 20px

  
}
.imgs{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 500px; 
  margin: 0 auto;
}


.car-container {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  float: right;
  margin-left: 40px;
  .card-content {
    width: 180px;
    margin-bottom: 50px;
    img{
      width: 100%;
      margin-bottom: 23px;
    }
    h3{
      color: #343232;
      font-size: 19px;
      font-family: Helvetica;
      margin-bottom: 9px;
      font-weight: 600;
    }
    p{
      color: #636060;
      font-size: 18px;
      font-family: Helvetica;
      width: 100%;
    }
  }
}

@media (max-width: 1230px) {
  .container {
      width: 90%;
    }
}

@media (max-width: 800px) {
  nav {
      display: none;
  }

  .fa-house {
      display: inline-block;
  }
}


@media (max-width: 768px) {
  .sec-2 {
      display: inline;
      padding-left: 20px;
  }
}
header{
  width: 100%;
	height: 80px;
	padding: 21px 0;
	background: white;
	position: fixed;
	top: 0;
	z-index: 1;
	
	height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container{
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;

        .header{
        height: 84px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            justify-content: space-between;
            
            a{
                font-weight: 600;
                font-size: 18px;
                color: black;
                }
            .h2 {
              font-family: 'Great Vibes', cursive;
              color: rgb(161, 50, 50);
              font-size: 40px;
            }
            }
        }
    }
}

.pls{
  width: 630px;

  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }

  .footer p {
    margin-right: 20px;
  }
}


@media screen and (max-width: 768px) {
  header{
      height: 200px;
  }

  nav {
    display: block;
    

  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 5px 0;
  }

  #menu-toggle:checked + label.menu-icon {
    background-color: #444;
  }
}
footer{
  margin-top: 70px;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: rgb(161, 50, 50);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

@media (max-width :748px){
  .teqsti{
    width: auto;
  }
}

.cc{
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  justify-content: space-around;
}

.image-container1 {
  position: relative;
  display: flex;
  .image-text1 {
    width: 100%;
    height: 800px;
    display: flex;
    background-image: url(../images/gurgeniani.jpg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
      font-size: 70px;
      font-weight: 600;
      color: #96DED1;
      font-family: "BPG Mikheil Stefane", sans-serif;

    }

}
}


.teqsti1{
  width: 650px;
  margin-left: 30px;
  display: inline-block;
  float: left;
  h1{
    font-size: 40px;
    color: #93C572;
    font-family: "BPG Irubaqidze", sans-serif;
    margin-bottom: 10px;
  }
  p{
    color: #818589;
    font-family: "ALK Rounded Nusx Med", sans-serif;
    letter-spacing: 1px;
  }
}

.image-container2 {
  position: relative;
  display: flex;
  .image-text2 {
    width: 100%;
    height: 800px;
    display: flex;
    background-image: url(../images/gremi\ mtavari.jpg);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    h1{
      font-size: 70px;
      font-weight: 600;
      color: #96DED1;
      font-family: "BPG Mikheil Stefane", sans-serif;

    }

}
}


.teqsti2{
  width: 650px;
  margin-left: 30px;
  display: inline-block;
  float: left;
  h1{
    font-size: 40px;
    color: #F0E68C;
    font-family: "BPG Irubaqidze", sans-serif;
    margin-bottom: 10px;
  }
  p{
    color: #818589;
    font-family: "ALK Rounded Nusx Med", sans-serif;
    letter-spacing: 1px;
  }
}